USE [DIVAPORTAL]
GO
/****** Object:  StoredProcedure [Amplo].[uspGetUOM]    Script Date: 1/9/2020 6:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================================================
-- Author:		Srinivas
-- Create date: 08-Jan-2020
-- Description:	This procedure retrieves UOM details
-- =======================================================================================================
CREATE PROCEDURE [Amplo].[uspGetUOM]
	-- Add the parameters for the stored procedure here
@UOMClassID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [UOMID]
      ,[UOMTitle]
  FROM [Amplo].[UOM]
  where [UOMClassID] = @UOMClassID and ActiveFlag=1;


END
GO
