USE [DIVAPORTAL]
GO
/****** Object:  Table [Amplo].[AmploIndustryVertical]    Script Date: 20-11-2019 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amplo].[AmploIndustryVertical](
	[IndustryVerticalID] [int] IDENTITY(1,1) NOT NULL,
	[IndustryVerticalName] [varchar](100) NOT NULL,
	[IndustryVerticalDescription] [varchar](512) NULL,
	[ActiveFlag] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_IndustryVertical] PRIMARY KEY CLUSTERED 
(
	[IndustryVerticalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
