USE [DIVAPORTAL]
GO
/****** Object:  Table [Amplo].[City]    Script Date: 20-11-2019 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amplo].[City](
	[FIPS] [nvarchar](50) NULL,
	[ISO] [varchar](50) NULL,
	[NAME] [varchar](100) NULL
) ON [PRIMARY]
GO
