.h-76-ten{
    height: 76px !important;
}
.h-61-ten{
    height: 61px !important;
}
.mb10.h-32-ten{
    height: 42px !important;;
}
.lineclamp2{
    -webkit-line-clamp:2 !important;
}
.h-32-ten.clss10 {
    height: 41px !important;
}