/* .h-49{
    height: 49px;;
}
.h-35{
    height: 35px;;
}
.h-68{
    height: 68px;
} */
.h-49s3{
    height: 40px;;
} 

.pstyle15 .h-41s3 {
    height: 23px!important;
}
.h-41s3 {
    height: 23px!important;
}
 .w-150px{
     width:150px !important;
 }
.h-68s3{
    height: 68px;
}
.h-30{
    height: 28px !important;
} 
.vtext-temp3{
    position: absolute;
    top: 8px;
    height: 30px;
    width: 210px !important;
    margin: 0;
    left: 25px;
    transform-origin: 0 0;
    transform: rotate(90deg);
}
.box-white-3 {
    position: relative;
    height: 223px !important;
    width: 30px;
    margin-bottom: 0 !important;
}
.fl-sl3{
    position: absolute;
    position: absolute;
    right: 6px;
    bottom: 5px;
    z-index: 9;
}
.rotate-textbox-style3{
        transform: rotate(-90deg) !important;
        position: absolute !important;
        right: 0 !important;
        transform: translate(90deg) !important;
        left: -82px !important;
        bottom: 98px !important;
        width: 193px;
}
.threewidthimp{
    width: 70px !important
}
.lineclamp2{
    -webkit-line-clamp:2 !important;
}
.vtext-temp3{
    position: absolute !important;
    top: 8px !important;
    height: 30px !important;
    width: 196px !important;
    margin: 0 !important;
    left: 25px !important;
    transform-origin: 0 0 !important;
    transform: rotate(90deg) !important;
}
.box-white-3 {
    position: relative !important;
    height: 196px !important;
    width: 30px !important;
    margin-bottom: 0 !important;
}
.box-white-3-style{
    position: relative !important;
    height: 223px !important;
    width: 30px !important;
    margin-bottom: 0 !important;
}
.fl-sl3{
    position: absolute !important;
    position: absolute !important;
    right: 6px !important;
    bottom: 5px !important;
    z-index: 9 !important;
}
.rotate-textbox{
    transform: rotate(-90deg) !important;
    position: absolute !important;
    right: 0 !important;
    transform: translate(90deg) !important;
    left: -55px !important;
    bottom: 80px !important;
}
.cuswidth70px{
    width:70px !important;
}
.cuswidth146px{
    width:146px !important;
}
.absolute2class{
    position: absolute !important;
    top:6px !important;
    right:46px;
}
.class15-1{
    margin-bottom: 9px !important
}
.class15{
    position: absolute !important;
    top: 6px !important;
    right: 47px;
    width: 28px !important;
    height: 234px !important;
}
.class15-2{
    position: absolute !important;
    top: 6px !important;
    right:0;
    width: 28px !important;
    height: 234px !important;
}
.mt01{
top:6px !important;
}
.vl-top{
    vertical-align:top;
}
.h-49-three{
    height:49px !important;
}
.h-41-three{
    height: 41px !important;;
}
.h-64-three{
    height: 64px !important;;
}
.lineclamp2{
    -webkit-line-clamp:2 !important;
}
.lineclamp2.lineclamp1{
    -webkit-line-clamp: 1 !important;
    height: 19px;
    line-height: 22px;
}